

.NOUN {
    background-color: #8B4513;
}

.PUNCT {
    background-color: #A9A9A9;
}

.ADP {
    background-color: #F4A460;
}

.NUM {
    background-color: #D2B48C;
}

.SYM {
    background-color: #556B2F;
}

.SCONJ {
    background-color: #8FBC8F;
}

.ADJ {
    background-color: #CD5C5C;
}

.PART {
    background-color: #DAA520;
}

.DET {
    background-color: #BC8F8F;
}

.CCONJ {
    background-color: #4682B4;
}

.PROPN {
    background-color: #FF7F50;
}

.PRON {
    background-color: #2F4F4F;
}

.ADV {
    background-color: #20B2AA;
}   

.INTJ {
    background-color: #FF6347;
}

.VERB {
    background-color: #6B8E23;
}

._ {
    background-color: #D3D3D3;
}

.AUX {
    background-color: #7673c5;
}

.X {
    background-color: #708090;
}

.enitiy-not-filtered {
    background-color: transparent !important;
    color: black !important;
}

.history-item:hover {
    background-color: #f8f9fa;
}


.scroll {
    overflow-y: scroll;
 }
 .scroll::-webkit-scrollbar {
     width: 6px;
 }
 
 .scroll::-webkit-scrollbar-track {
     -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); 
     border-radius: 10px;
 }
 
 .scroll::-webkit-scrollbar-thumb {
     border-radius: 10px;
     -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5); 
 }

 .tooltip {
    position: relative;
    display: inline-block;
    opacity: 1 !important;
  }

 .tooltip .tooltiptext {
    visibility: hidden;
    background-color: rgb(204, 201, 201);
    color: #ffffff;
    text-align: center;
    border-radius: 6px;
    padding: 3px 5px;
  
    /* Position the tooltip */
    position: absolute;
    z-index:  1;
    top: -30%;
    left: -40%;
    opacity: 0.8 !important;
    cursor: pointer;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .filter-item {
    position: relative; 
  }

  .filter-item.filter-selected::after {
    content: ''; /* Create the pseudo-element */
    position: absolute; /* Position it absolutely within the parent */
    top: -10px; /* Align it to the top */
    right: -10px; /* Align it to the right */
    width: 20px; /* Adjust the size as needed */
    height: 20px; /* Adjust the size as needed */
    /* background-color: red; Change to desired color */
    background-image:  url('./icons/selected.png');
    background-size: contain;
    /* border-radius: 50%; Make it a circle */
  }