.NOUN {
    background-color: #8B4513;
}

.PUNCT {
    background-color: #A9A9A9;
}

.ADP {
    background-color: #F4A460;
}

.NUM {
    background-color: #D2B48C;
}

.SYM {
    background-color: #556B2F;
}

.SCONJ {
    background-color: #8FBC8F;
}

.ADJ {
    background-color: #CD5C5C;
}

.PART {
    background-color: #DAA520;
}

.DET {
    background-color: #BC8F8F;
}

.CCONJ {
    background-color: #4682B4;
}

.PROPN {
    background-color: #FF7F50;
}

.PRON {
    background-color: #2F4F4F;
}

.ADV {
    background-color: #20B2AA;
}   

.INTJ {
    background-color: #FF6347;
}

.VERB {
    background-color: #6B8E23;
}

._ {
    background-color: #D3D3D3;
}

.AUX {
    background-color: #7673c5;
}